<!DOCTYPE html>
    <head>
        <title>My First Page</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    </head>
    <body>
        <h1>My Blog Website</h1>
        <h4>IEEE MicroHack</h4>
        <p>
            I am Manali Biswas. I am a programmer.
            <br>
            I love making websites.
        </p>
        <div>
        <img src="computer.jpg">
        </div>
    </body>
</html>